body{
    background-image: url('https://i.pinimg.com/originals/4a/03/24/4a03249d49d7289d41e864d1468bbafd.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    margin-top: 200px;
    background-color: rgba(131, 218, 242, 0.5);
    margin: 50px auto;
    width: 30%;
    padding: 2% 4%;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
}

.container h1 {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 50px;

}

.box1 {
    text-align: center;
    padding: 10px;

}

.sub {
    width: 130px;
    height: 40px;
    font-size: 18px;
    padding: 10px 20px;
    background-color:rgba(0, 0, 0, 0.553);
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.box1 {
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

.container input {
    width: 100%;
    padding: 10px;
}
.city {
    font-weight: bolder;
    justify-content: center;
    font-size:larger;
    display: flex;
    color: white;
    
   
}
